*/node_modules
*/dist
*/.vscode
*/.idea
*/.DS_Store
*/.env
*/.env.local
*/.env.development.local
*/.env.test.local
*/.env.production.local
*/.cache
*/.parcel-cache
*/.yarn
*/.pnp
*/.pnp.js
*/.eslintcache
*/.parcel-cache
*/.yarn
*/.yarn-integrity
*/.yarn-metadata
*/.yarn-tarball
*/.yarnrc
*/.yarnrc.yml
*/.yarnrc.yaml
*/.yarnrc.json
*/xcuserdata